/* 
CSS 1 GERAL
*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    color: palevioletred;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 
CSS 2 CONTAINERS
*/

#maedetodas { /* container geral */
    display: flex;
    flex-direction: column;
}

#container1{  /* menu e sidebar */
    display: flex;
    flex-direction: row;
}

#container1_1 { /* sidebar */
    display: flex;
    flex-direction: column;
}

#container1_2{ /* barra menu */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-right: 100px;
}

#container2{ /* acervo e resultado */
    display: flex;
    flex-direction: column;
}

#container2_1{  /*acervo*/
    display: flex;
    flex-direction: column;
}

#container2_2 { /*resultado*/
    display: flex;
    flex-direction: column;
}

/* 
CSS 3 FIELDSET
*/

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: rgb(254, 226, 236);
    color: palevioletred;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(254, 226, 236);
    color: palevioletred;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid;
    width: 30%;
    height: 65%;
    max-width: 400px; 
    order: 2;
}

#descricao {  
    display: flex;
    position: absolute;
    white-space: nowrap;
    left: 30%;
    top: 24%;
}

/* 
CSS 4 RESULTADOS DOS ACERVOS
*/

#results {
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    padding: 20px;
}

#resultbox {
    display: flex;
}

/* 
CSS 5 TITULOS
*/

#titulo {
    display: flex;
    position: absolute;
    place-items: center;
    height: 10vh;
    z-index: 2;
    justify-content: start;
    left: 30%; 
    top: 11%; 
}

/*
CSS 6 MENU 
*/

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: rgb(216, 112, 147);
    color: rgb(254, 226, 236);
    min-width: 100%;
    max-height: 10vh;
}

h3 {
    display: flex;
    flex-direction: row;
    margin: right;
    color: rgb(216, 112, 147);
}

/*
CSS 7 SIDEBAR 
*/

#sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(254, 226, 236);
    height: 100vh;
    border-radius: 0px 0px 18px 0px;
    position: relative;
    transition: all .4s;
    min-width: 100px;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -20px;
    cursor: pointer;
    z-index: 3;
}

#open_btn i {
    color: palevioletred;
}

.item_description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .5s;
}

#sidebar.open-sidebar {
    min-width: 100%;
}

#sidebar.open-sidebar .item_description {
    width: 90px;
}

#sidebar.open-sidebar .side-item{
    justify-content: flex-start;
    gap: 14px;
}

span{
    color: rgb(216, 112, 147);
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_info {
    display: flex;
    flex-direction: column;
}

#user_info span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    left: 30px;
    object-fit: cover;
    border-radius: 20px;
}

#side_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    left: 15px;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item:hover {
    background-color: pink;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: palevioletred;
}

/*
CSS 8 REQUISITOS DE BUSCA 
*/

.requisitosdebusca {
    gap: 8px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

#requisitosdebusca {
    gap: 8px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contador {
    width: 12%;
}

#ou_primeiroacervo {
    margin-left: auto;
    margin-right: auto;
}

#ou_segundoacervo {
    margin-left: auto;
    margin-right: auto;
}

/*
CSS 9 LOGOUT 
*/

.side-item a i, #logout_btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    color: palevioletred;
}

#divlogout {
    border-top: 1px solid #6b6b6b;
    padding: 1px;
}

#logout_btn {
    border: none;
    padding: 5px;
    font-size: 14px;
    display: flex;
    gap: 1px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#logout_btn:hover {
    background-color: pink;
}
